.filter-text-box{
	background-color: var(--background-black);
	border: 1px solid var(--lime-green);
	border-radius: 2px;
	width: 150px;
	height: 37px;
}

.filter-text-box:focus{
	outline: none;
}

.filter-text-box::placeholder{
	color: rgba(50, 205, 50, 0.5);
}