#sort-options{
border: 1px solid white;
border-radius: 9px;
width: 400px;
padding: 15px;
}

.options-heading{
text-align: center;
font-size: 25px;
}

.options-subtitle{
font-size: 20px;
}

.options-text{
text-align: center;
}

.hidden{
display: none;
}

#sort-options .input-group{
margin-top: 10px;
}

@media (max-width: 450px)
{
	#sort-options{
	width: 300px;
	}
}