:root{
	--lime-green: #32CD32;
	--background-black: #0D0C0C;
}

.hide{
	display: none;
}

.inv-title{
	background-color: var(--lime-green);
	color: var(--background-black);
	width: max-content;
	padding: 0 5px 0 5px;
}

body{
	background-color: var(--background-black);
	color: white;
	font-family: "M PLUS Code Latin", monospace;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar{
	display: none;
}

::selection{
	color: var(--background-black);
	background: var(--lime-green);
}