#filter-options{
border: 1px solid white;
border-radius: 9px;
width: 900px;
padding: 15px;
}

.hidden{
display: none;
}

.options-heading{
text-align: center;
font-size: 25px;
}

.options-subtitle{
font-size: 20px;
}

.options-text{
text-align: center;
}

#options-selector-grid{
display: none;
}

#options-grid{
display: grid;
grid-template-rows: repeat(6, 40px);
grid-template-columns: repeat(5, 160px);
grid-auto-rows: 40px;
gap: 5px;
align-items: center;
justify-content: center;
}

#options-grid label{
font-size: 12px;
}

.form-check-label{
align-items: center; 
margin-left: 10px;
}

	/* Code for the checkboxes*/

#Asia-selector{
grid-area: 1 / 1 / 2 / 2;
}
#East-Asia-selector{
grid-area: 2 / 1 / 3 / 2;
}
#SouthEast-Asia-selector{
grid-area: 3 / 1 / 4 / 2;
}
#South-Asia-selector{
grid-area: 4 / 1 / 5 / 2;
}
#Western-Asia-selector{
grid-area: 5 / 1 / 6 / 2;
}
#Central-Asia-selector{
grid-area: 6 / 1 / 7 / 2;
}

#Africa-selector{
grid-area: 1 / 2 / 2 / 3;
}
#Northern-Africa-selector{
grid-area: 2 / 2 / 3 / 3;
}
#Eastern-Africa-selector{
grid-area: 3 / 2 / 4 / 3;
}
#Southern-Africa-selector{
grid-area: 4 / 2 / 5 / 3;
}
#Western-Africa-selector{
grid-area: 5 / 2 / 6 / 3;
}
#Central-Africa-selector{
grid-area: 6 / 2 / 7 / 3;
}

#Europe-selector{
grid-area: 1 / 3 / 2 / 4;
}

#America-selector{
grid-area: 1 / 4 / 2 / 5;
}
#Southern-America-selector{
grid-area: 2 / 4 / 3 / 5;
}
#Northern-America-selector{
grid-area: 3 / 4 / 4 / 5;
}

#Oceania-selector{
grid-area: 1 / 5 / 2 / 6;
}

@media (max-width: 972px)
{

	#callingcodes-banner{
	text-align: left;
	}

	#filter-options{
	width: 320px;
	}

	#options-grid{
	display: none;
	}

	#options-selector-grid{
	display: grid;
	grid-template-rows: 40px 40px;
	grid-template-columns: repeat(3, 100px);
	gap: 5px;
	}

	#options-selector-grid button{
	font-size: 12px;
	}

	.dropdown-menu{
	background-color: transparent;
	}

	.dropdown-item{
	color: white;
	}
}