body
{
margin: 0;
color: white;
}

main
{
padding: 56px;
}

@media (max-width: 900px){
	main{
	padding: 5px;
	};
}

@media (max-width: 700px){
	.table{
	width: 690px;
	}
}

#title-banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

#title-banner p{
margin: 0;
}

table{
opacity: 0.8;
}