.options-heading{
text-align: center;
font-size: 25px;
}

.options-subtitle{
font-size: 20px;
}

.options-text{
text-align: center;
}

.poll-bar{
display: flex;
justify-content: end;
}

#edit-panel{
	margin-top: 25px;
	display: flex;
	gap: 5px;
}

.edit-btn{
	background-color: var(--background-black);
	color: var(--lime-green);
	border: var(--lime-green) solid 1px;
	width: 37px;
	height: 37px;
}

.edit-btn:hover{
	background-color: var(--lime-green);
	color: black;
}

.edit-btn:active{
	background-color: var(--background-black);
	color: var(--lime-green);
}